[Desktop Entry]
Type=Application
Name=BETA-UAS Omnibe
Comment=ArduPlane QuadPlane SITL launcher
Exec=beta-uas-omnibe
Icon=beta-uas-omnibe
Categories=Utility;Education;
Terminal=false
StartupNotify=true
